.task {
  height: 200px;
  width: 300px;
  padding: 52px 12px 8px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--box);
}

.task-urgency1{
  border: 1px solid #f00;
}

.task-urgency2{
  border: 1px solid #fb8c00;
}

.task-urgency3{
  border: 1px solid #81d4fa;
}

.task:hover {
  box-shadow: 0 0 6px #81d4fa;
  transition: 300ms ease-in-out;
}

.task_title {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

.task_desc {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.task_buttons {
  display: flex;
  justify-content: flex-end;
}

.task_button {
  
}

.task_icon_check {
  fill: #0f0;
  border: 1px solid #0f0;
  border-radius: 4px;
}

.task_icon_check:hover,
.task_icon_edit:hover,
.task_icon_close:hover {
  transform: scale(1.08);
}

.task_icon_edit {
  fill: #81d4fa;
  border: 1px solid #81d4fa;
  border-radius: 4px;
}

.task_icon_close {
  fill: #f00;
  border: 1px solid #f00;
  border-radius: 4px;
}
