.register {
  height: 100vh;
  background-color: var(--primary);
  color: #fff;
  overflow: auto;
}

.register_header {
  height: 66px;
  width: 100%;
  box-shadow: 0 2px 6px #000000e0;
  display: flex;
  background-color: var(--box);
}

.register_back_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
.register_body {
  height: calc(100% - 66px);
  padding: 82px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.register_form {
  width: 400px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.register_item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.register_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}


.register_button:hover {
  box-shadow: 0 0 6px #81d4fa;
  transition: 300ms ease-in-out;
}

.register_register {
  color: #81d4fa;
}