.profile {
  height: 100vh;
  background-color: var(--primary);
  color: #fff;
  overflow: auto;
}
.profile_header {
  height: 66px;
  width: 100%;
  padding: 8px 12px 8px 0;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px #000000e0;
  display: flex;
  align-items: flex-end;
  background-color: var(--box);
}
.profile_search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile_body {
  height: calc(100% - 66px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile_image {
  display: flex;
  justify-content: center;
}

.profile-img {
  margin-left: -5px;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
}

.profile-container {
  position: relative;
}

.profile-cam {
  position: absolute;
  bottom: 16px;
  left: 38%;
  fill: #00f;
  cursor: pointer;
}
.profile-inpt {
  display: none;
}

.profile-userdata {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-name,
.profile-email {
  position: relative;
}

.profile-name-user {
  color: #fff;
}
.input-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.profile-btn-edit {
  color: var(--button_color);
  width: auto;
  font-size: 16px;
  padding: 10px 12px;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.profile-btn-save,
.profile-btn-cancel {
  font-size: 18px;
  padding: 8px 10px;
  width: auto;
}

.profile-btn-save {
  width: auto;
  color: var(--button_color);
  padding: 8px 10px;
}

.error-txt{
  margin-top: 4px;
  font-size: 13px;
  color: #f00;
}