.home {
  height: 100vh;
  background-color: var(--primary);
  color: #fff;
  overflow: auto;
}
.home_header {
  height: 66px;
  width: 100%;
  padding: 4px 24px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px #000000e0;
  display: flex;
  align-items: flex-end;
  background-color: var(--box);
}
.home_search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home_search_input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid#81d4fa;
  outline: none;
  color: #fff;
}

.home_body {
  height: calc(100% - 66px);
  padding: 24px;
  display: flex;
  justify-content: center;
}
