.navbar {
  height: 100vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar_logo {
  display: flex;
  align-self: center;
  margin-bottom: 24px;
}

.navbar_logo a {
  max-width: 50%;
}

.navbar_logo_img {
  width: 100%;
}
.navbar_links {
}
.navbar_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 14px;
}

.navbar_footer_button{
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}